.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 300ms linear;
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    gap: 12px;
    bottom: -100%;
    width: 100%;
    height: fit-content;
    overflow: scroll;
    transition: all 0.3s ease 0s;
    background-color: $primery-bgc;
    padding: 55px 30px 40px 30px;
    z-index: 8;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}


.modal.active{
    bottom: 0;
    height: fit-content;
    opacity: 1;

}
.call-back__decorative{
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    margin-bottom: 32px;
    
}
.call-back__close, .contacts-modal__close {
    // margin-left: auto;
    position: absolute;
    top: 24px;
    right:  24px;
    background-color:$primery-bgc;
    width: 24px;
    height: 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: $transition__stock;
    &:hover>svg,
    &:focus>svg{
        fill: $color_accent;
    }
}
.call-back__title{
    align-self: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    color: $color_black;
    padding-bottom: 8px;
    border-bottom: 2px solid $primery-text-color;
}
.call-back__close-icon {
    height: 80%;
    width: 80%;
    display: block;
    transition: $transition__stock;
}
.call-back__text {
    display: flex;
    font-size: 18px;
    line-height: 130%;
    font-weight: normal;
    color: $color_black;
    margin-bottom: 20px;
    width: 50%;
}
.call-back__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
._req {
}
._name {
}
.call-back__field {
    width: 100%;
	 
	border: 2px solid $primery-text-color;
	border-radius: 4px;
	background-color: $primery-bgc;
	color: $color_black;
	z-index: 2;
	padding: 4 12px;
	font-size: 16px;
	font-weight: 400;
	transition: $transition__stock;
	&:hover,
    &:focus{
        outline: none;
		border-color: $color_accent;
	}
}

.call-back__field._error{
    border-color: red;
}
.call-back__btn, .contacts-modal-btn {
    display: flex;
	justify-content: center;
	align-items: center;
    padding: 8px 24px;
    background-color: $color_accent;
    transition: $transition__stock;
    outline: none;
    cursor: pointer;
    border: 2px solid transparent;
	border-radius: 4px;
    color: $color_white;
    font-size: 16px;
    font-weight: 500;
    &:hover,
    &:focus{
        transform: scale(1.1);
    }
};

@media screen and (max-width: 1440px){
    
    // .call-back__text,
    // .call-back__form{
    //     width: 65%;
    // }
}
@media screen and (max-width: 1024px){
    // .modal {
    // width: 70vw;
    // height: 70vh;
    // }
    // .call-back__text,
    // .call-back__form{
    //     width: 75%;
    // }
}
@media screen and (max-width: 767px){
    // .modal {
    // width: 90vw;
    // height: 70vh;
    // }
    .call-back__text,
    .call-back__form{
        width: 95%;
    }
    .call-back__text{
        font-size: 16px;
    }
    

}