$primery-text-color: #bdbdbd;
$primery-bgc:#fdfdfd;
$color_black: #000000;
$color_white: #fdfdfd;
$color_accent: #5d20c7;
$transition__stock: all 300ms linear;


$primery_font: 'Roboto', sans-serif;;
$secondury_font: 'Lato', sans-serif;

body {
font-family: $primery_font;
background-color: $primery-bgc;
}
// * {
// outline: 1px solid red;
// }