<header class="header">
  <div class='container'>
    <div class="header__body">
      <div class="header__top">
        <div class="header__burger">
          <span></span>
        </div>
        <a href="#" class="header__logo">
          <img src="images/logo.webp" alt="logo" class="header__logo-img">
        </a>

        <form class="header__top-form">
          <input class="header__top-search" type="text" name="search">
          <button class="header__top-btn" type="submit">
            <svg class='header__top__icon'>
              <use href='./sprite.svg#icon-search'>
              </use>
            </svg>
          </button>
        </form>
        <button type='button' class='header__btn-call'>
          <svg class='btn-call__icon'>
            <use href='./sprite.svg#icon-phone'></use>
          </svg>
          <span class="btn-call__text">Контакти</span>
        </button>

        <a rel='noopener no-referrel nofollow' class='basket__link _link' href='#'>
          <div class='basket__decorative-container'>
            <svg class='basket__icon'>
              <use href='./sprite.svg#icon-cart'></use>
            </svg>
            <p class='basket__quantity'>5</p>
          </div>
          <div class='basket__description-container'>
            <p class='basket__name'>Моє замовлення</p>
            <p class='basket__sum'>115 грн</p>
          </div>
        </a>

      </div>
      <div class='header__bottom__backdrop is-hidden'></div>
      <div class='header__bottom'>

        <nav class="header__menu">
          <ul class="header__list">
            <li>
              <a href="#" class="header__link">Клієнтам</a>
            </li>
            <li>
              <a href="#" class="header__link">Товари для майнінгу</a>
            </li>
            <li>
              <a href="#" class="header__link">SSD накопичувачі, флеш пам'ять</a>
            </li>
            <li>
              <a href="#" class="header__link">Масла для генераторів</a>
            </li>
            <li>
              <a href="#" class="header__link">Товари для дому</a>
            </li>
          </ul>
        </nav>
        <!-- телефон -->
        <ul class="header__contacts _list">

          <li>
            <a href="tel:+380992235552" class="header__contacts__link" rel='noopener no-referrel nofollow'>
              <svg class='btn-call__icon'>
                <use href='./sprite.svg#icon-phone'></use>
              </svg>
              <p> 099 223 5552</p>
            </a>
          </li>
          <li>
            <a href="https://t.me/praidid" class="header__contacts__link" target="_blank"
              rel='noopener no-referrel nofollow'>
              <svg class='btn-call__icon'>
                <use href='./sprite.svg#icon-telegram'></use>
              </svg>
              <p>Telegram</p>
            </a>
          </li>
          <li>
            <a href="mailto:o.pradidenko@gmail.com" class="header__contacts__link" rel='noopener no-referrel nofollow'>
              <svg class='btn-call__icon'>
                <use href='./sprite.svg#icon-mail2'></use>
              </svg>
              <p>Написати на e-mail</p>
            </a>
          </li>

        </ul>
        <div class='header__date'>
          <svg class='header__date__icon'>
            <use href='./sprite.svg#icon-clock'></use>
          </svg>
          <div class='header__date__time'>
            <p class='header__date__work'> <b>Пн - Пт:</b> 09:00 - 18:00</p>
            <p class='header__date__work'> <b>Сб - Нд:</b> 10:00 - 16:00</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</header>