<main>
  <div class="backdrop  " data-modal>
    <div class="modal">
      <div class='call-back__decorative'>
        <h3 class='call-back__title'>Замовити дзвінок</h3>
        <button type="button" class="call-back__close" data-modal-close>
          <svg class="call-back__close-icon">
            <use href="./sprite.svg#icon-cross"></use>
          </svg>

        </button>
      </div>

      <p class='call-back__text'>Вкажіть ваш номер телефону та ім'я. Ми зателефонуємо вам найближчим часом.</p>
      <form class="call-back__form" autocomplete="on">
        <input class="_req _name call-back__field" type="text" name="name" placeholder="Ім'я">
        <input class="_req _tel call-back__field" type="tel" name="tel" placeholder="Телефон">
        <button type='submit' class='call-back__btn'>Надіслати</button>
      </form>
    </div>
  </div>
</main>